@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@300&family=Poppins:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 9, 29);
    font-family: 'Bangers', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 100px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: rgb(201, 171, 0);
}

::-webkit-scrollbar-track{
    background: black;
}



nav{
    max-width: 100%;
    display: flex;
    background-color: black;
    box-shadow: 2px 1px 15px;
    justify-content: center;
    box-shadow: 0px 2px 15px rgb(1, 118, 156);
}

nav div{
    margin: 10px 10px;
    max-width: 100%;
    justify-content:space-between;
    background-color: black;
    position: relative;
    color: gold;
}

nav div::after{
    content: "";
    width: 100%;
    height: 2px;
    bottom: -3px;
    background-color: aliceblue;
    position: absolute;
    left: 0;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

nav div:hover::after{
    transform: scaleX(1);
}

nav div:hover{
    color: aliceblue;
    cursor: pointer;
}

.big-container{
    margin-left: 50px;
    margin-top: 100px;
    font-size: small;
    display: flex;
}

.text-container{
    margin-left: 20px;
    width: 50%;
    height: 200px;
}

.profile-img{
    margin-right: 100px;
    perspective: 1000px;
}

.profile-img img{
  border-radius: 400px;
}

.container2{
    margin-top: 50px;
    justify-content: center;
    color: aliceblue;
    display: flex;
}

.bi:hover{
    color: gold;
    cursor: pointer;
    transition: 0.3s;
}

h3{
    margin-bottom: 20px;
}

.Contact li{
    list-style-type: none;
}

.skills , .Contact {
    background-color: black;
    margin: 50px 20px 10px 20px;
    padding: 20px;
    height: 250px;
    width: 300px;
    border-radius: 20px;
    
}

.skills h3, .skills li, .Contact h3, .Contact li{
    background-color: black;
    padding-left: 30px;
}

.skills:hover{
    border: 0.5px solid gold;
    transition: 0.2s;
    transform: scale(1.08, 1.08);
    cursor: pointer;
}

.Contact:hover{
    border: 0.5px solid gold;
    transition: 0.2s;
    transform: scale(1.08, 1.08);
    cursor: pointer;
}

.Contact li{
    margin-top: 15px;
}

nav img{
    background-color: black;
    height: 40px;
    width: 250px;
    margin-right: 160px;
    padding-right: 30px;
}